@import "../vendor/css/bootstrap.min";

.navbar{
    .navbar-brand{
        padding: 9px 15px
    }
}

.b-gallery-item{
    img{
        margin: 0 0 10px;
    }
}

.b-album-thumb{
    width: 200px;
    height: 200px;
    background-position: center top;
    background-size: 200px;
}

.b-almub-item{
    margin: 0 0 30px;
}