<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>

<div id="header-region"></div>

<div id="app" class="container"></div>

<script id="header-template" type="text/template">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand js-home" href="#albums">
                <img src="public/images/backbone.png" alt="">
            </a>
        </div>
        <ul class="nav navbar-nav"></ul>
    </div>
</script>

<script id="header-link" type="text/template">
    <a href="#<%= url %>"><%= name %></a>
</script>

<script id="albums-404" type="text/template">
    <div class="alert alert-danger">This gallery doesn't exist!</div>
</script>

<script id="albums-layout" type="text/template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 id="title-region" class="panel-title"></h3>
        </div>
        <div id="albums-region" class="panel-body"></div>
    </div>
</script>

<script id="albums-title" type="text/template">
    Gallery based on Backbone.js + Marionette.js
</script>

<script id="AlbumsListItemView" type="text/template">
    <div class="b-album-thumb img-thumbnail" style="background-image: url('<%= src_thumb %>');"></div>
    <p class="text-center">
        <a href="/album/<%= id %>" class="btn btn-default btn-sm js-show"><span class="glyphicon glyphicon-eye-open"> Show</span></a>
    </p>
</script>

<script id="album-layout" type="text/template">
    <div id="album-pagination"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 id="album-title-region" class="panel-title"></h3>
        </div>
        <div id="album-list-region" class="panel-body"></div>
    </div>
</script>

<script id="album-title" type="text/template">
    <%= title %>
</script>

<script id="AlbumItemView" type="text/template">
    <img class="img-thumbnail" src="<%= src %>" alt="" width="300">
</script>

<script id="AlbumItemView_Pagination" type="text/template">
    <ul class="pagination"></ul>
</script>

<script id="AlbumItemView_Pagination_Item" type="text/template">
    <a href="#album/<%= model_id %>/page/<%= page %>"><%= page %></a>
</script>

<!-- CSS -->
<link rel="stylesheet" href="public/css/styles.css">

<!-- JS -->
<script src="public/js/vendor.js"></script>
<script src="public/js/app.js"></script>

</body>
</html>